# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# JavaScript files
[*.{js,mjs,cjs}]
indent_size = 4
quote_type = single

# TypeScript files
[*.{ts,tsx}]
indent_size = 4

# CSS, Sass, SCSS files
[*.{css,sass,scss}]
indent_size = 2

# HTML and template files
[*.{html,pug,hbs,handlebars}]
indent_size = 2

# JSON files
[*.{json,jsonc}]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Package files
[{package.json,bower.json,composer.json}]
indent_size = 2

# Configuration files
[*.{eslintrc,stylelintrc,babelrc,prettierrc}]
indent_size = 2

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Python files
[*.py]
indent_size = 4

# Docker files
[{Dockerfile,docker-compose.yml,docker-compose.yaml}]
indent_size = 2

# License and README files
[{LICENSE,README,CHANGELOG,CONTRIBUTING}]
max_line_length = off